<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<!-- Servlets BEGIN -->
	<servlet>
		<servlet-name>DisplayScores</servlet-name>
		<servlet-class>com.hackerhop.leaderboards.servlets.DisplayScores</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AddScore</servlet-name>
		<servlet-class>com.hackerhop.leaderboards.servlets.AddScore</servlet-class>
	</servlet>
	<!-- Servlets END -->

	<!-- Filters BEGIN -->

	<!-- Filters END -->

	<!-- Servlet Mappings BEGIN -->
	<servlet-mapping>
		<servlet-name>DisplayScores</servlet-name>
		<url-pattern>/leaderboard</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddScore</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<!-- Servlet Mappings END -->

	<!-- Filter Mappings BEGIN -->

	<!-- Filter Mappings END -->
</web-app>